name: build

on:
  push:
    branches:
      - main

jobs:
  build_package:
    name: Build package - PHP ${{ matrix.php_version.version }}
    strategy:
      fail-fast: false
      matrix:
        php_version:
          - version: 8.5.0 # renovate: datasource=github-tags depName=php/php-src extractVersion=^php-(?<version>\d+\.\d+.\d+)$
            latest: true
            xdebug: 3.5.0 # renovate: datasource=github-tags depName=xdebug/xdebug
            cache-scope: php-85
          - version: 8.4.16 # renovate: datasource=github-tags depName=php/php-src extractVersion=^php-(?<version>\d+\.\d+.\d+)$
            latest: true
            xdebug: 3.5.0 # renovate: datasource=github-tags depName=xdebug/xdebug
            cache-scope: php-84
          - version: 8.3.29 # renovate: datasource=github-tags depName=php/php-src extractVersion=^php-(?<version>\d+\.\d+.\d+)$
            latest: false
            xdebug: 3.5.0 # renovate: datasource=github-tags depName=xdebug/xdebug
            cache-scope: php-83
          - version: 8.2.30 # renovate: datasource=github-tags depName=php/php-src extractVersion=^php-(?<version>\d+\.\d+.\d+)$
            latest: false
            xdebug: 3.5.0 # renovate: datasource=github-tags depName=xdebug/xdebug
            cache-scope: php-82
          - version: 8.1.34 # renovate: datasource=github-tags depName=php/php-src extractVersion=^php-(?<version>\d+\.\d+.\d+)$
            latest: false
            xdebug: 3.5.0 # renovate: datasource=github-tags depName=xdebug/xdebug
            cache-scope: php-81

    permissions:
      contents: read
      packages: write
      id-token: write

    uses: bitcompat/base/.github/workflows/build.yaml@main
    with:
      name: main
      cache-scope: '${{ matrix.php_version.cache-scope }}'
      version: ${{ matrix.php_version.version }}
      latest: ${{ matrix.php_version.latest }}
      major_only_tag: false
      debian_codename: bookworm
      build-args: |
        XDEBUG_VERSION=${{ matrix.php_version.xdebug }}
    secrets: inherit
